---
import ProjectSection from './ProjectSection.astro';

interface Props {
  projectTitle: string;
  id?: string;
  order?: number;
  total?: number;
}

const { projectTitle, id = "coming-soon", order, total } = Astro.props;
---

<ProjectSection title="More Details Coming Soon" icon="fa-solid fa-helmet-safety" id={id} order={order} total={total}>
  <p class="coming-soon-text">
    I am currently compiling the full documentation for {projectTitle}. This section will eventually include deeper dives into the system design, mechanics, and process.


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam massa, pretium sit amet eros a, eleifend sodales nisl. Quisque tempor sollicitudin malesuada. Etiam mattis in felis sit amet suscipit. Duis ante ligula, pharetra vel pretium vitae, tincidunt ut dui. Phasellus nec massa quis leo porttitor facilisis at at lacus. Pellentesque eget urna ac neque ullamcorper consectetur ac luctus purus. Cras viverra ac nunc a iaculis. Donec eget tincidunt sapien. Phasellus efficitur placerat purus sodales fringilla.
    Phasellus placerat augue est, vel ultrices risus venenatis id. Morbi placerat ante ex, et cursus nibh aliquam et. Sed in consequat mi, at facilisis diam. Nunc id magna at felis tempus condimentum quis vel risus. Mauris sem turpis, iaculis quis massa eu, pulvinar vestibulum magna. Curabitur elementum posuere facilisis. Quisque eget tincidunt orci, nec elementum lacus. Etiam quis congue quam.
    Nulla sed vestibulum nisi, vitae dictum felis. Donec non pulvinar lectus, aliquam vulputate metus. Morbi eget volutpat metus, a interdum nulla. Nulla venenatis leo vitae odio convallis, vel vulputate eros maximus. Integer ac finibus urna. In suscipit lorem non pretium euismod. Suspendisse blandit nulla ut rutrum congue. Phasellus imperdiet elit rhoncus turpis accumsan vehicula. Pellentesque erat ipsum, tristique at tellus sed, semper euismod leo. Nulla sit amet ornare eros, vel consequat tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eu nunc at est dignissim ultrices. In blandit velit elit, a maximus massa sagittis vitae.
  </p>
</ProjectSection>

<style>
  @reference "../../styles/global.css";
  
  .coming-soon-text {
    @apply text-center leading-loose;
    max-width: 800px;
    margin: 0 auto;
    opacity: 0.9;
  }
</style>
