---
import ProjectSection from './ProjectSection.astro';

interface Props {
  description: string;
  id?: string;
}

const { description, id = "overview" } = Astro.props;
---

<ProjectSection title="Overview" id={id}>
  <p class="main-description">{description}</p>
</ProjectSection>

<style>
  @reference "../../styles/global.css";

  .main-description {
    @apply txt-h4;
    @apply leading-loose;
    opacity: 0.9;
    @apply text-center;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
