---
import ProjectSection from './ProjectSection.astro';

interface Props {
  description: string;
  id?: string;
}

const { description, id = "overview" } = Astro.props;
---

<ProjectSection title="Overview" id={id}>
  <p class="main-description">{description}</p>
</ProjectSection>

<style>
  @reference "../../styles/global.css";

  .main-description {
    font-size: 1.25rem;
    line-height: 1.6;
    opacity: 0.9;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
