---
/**
 * ══════════════════════════════════════════════
 *  CHARACTER NAME (CharacterName.astro)
 * ══════════════════════════════════════════════
 */
const { name } = Astro.props;
---

<h2 class="txt-brand mb-1 text-4xl">{name}</h2>
