---
/**
 * ══════════════════════════════════════════════
 *  TYPE TEXT (TypeText.astro)
 * ══════════════════════════════════════════════
 */
const { label, value } = Astro.props;
---

<span class="sheet-txt-meta">
  {label}: <strong class={label === "CLASS" ? "txt-color-accent" : ""}>{value}</strong>
</span>
