---
import SectionTitle from "../SectionTitle.astro";
const { title, items, options } = Astro.props;
const finalTitle = title !== undefined ? title : options?.title;
---

<div class="sheet-section">
  <SectionTitle title={finalTitle} />
  <ul class="space-y-2 text-sm font-medium">
    {items.map((item: string) => <li>{item}</li>)}
  </ul>
</div>
