---
const { role } = Astro.props;
---

<div
  class="party-role bg-rgba(var(--brand-secondary), 0.02) mb-8 rounded-lg border border-(--brand-secondary) p-4"
>
  <h4 class="txt-micro-label mb-2">Primary Party Role</h4>
  <p class="text-xs leading-normal font-bold uppercase italic opacity-80">{role}</p>
</div>
