---
import SectionTitle from "../SectionTitle.astro";
const { title, skills, options } = Astro.props;

// Use 'title' from props, fallback to 'options.title'
const finalTitle = title !== undefined ? title : options?.title;
---

<div class="sheet-section">
  <SectionTitle title={finalTitle} />
  <ul class="sheet-list">
    {
      skills.map((skill: any) => (
        <li class="sheet-list-item border-dotted">
          <div class="dots flx-rw gap-1.5">
            {[0, 1, 2].map((i) => (
              <div
                class={`h-2.5 w-2.5 rounded-full border-2 border-(--brand-secondary) ${i < skill.level ? "bg-(--brand-secondary)" : ""}`}
              />
            ))}
          </div>
          <span class="text-base font-bold tracking-tight">{skill.label}</span>
        </li>
      ))
    }
  </ul>
</div>
