---
import SectionTitle from "../SectionTitle.astro";
const { title, traits, options } = Astro.props;
const finalTitle = title !== undefined ? title : options?.title;
---

<div class="sheet-section">
  <SectionTitle title={finalTitle} />
  {
    traits.map((trait: any) => (
      <div class="sheet-box mb-4">
        <h5 class="sheet-txt-meta txt-color-accent mb-2">{trait.title}</h5>
        <p class="text-xs leading-relaxed font-medium opacity-70">{trait.description}</p>
      </div>
    ))
  }
</div>
