/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* --------------- THEMES --------------- */
/* #region Themes */
:root {
	color-scheme: light;
  /* Light mode */
  --accent: #2337ff;
  --accent-dark: #000d8a;
	--accent-monochrome: #000000;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 0.5), #fff;
  --box-shadow: 
    0 2px 6px rgba(var(--gray), 0.25), 
    0 8px 24px rgba(var(--gray), 0.33), 
    0 16px 32px rgba(var(--gray), 0.33);

  /* VANTA (light) */
  --vanta-highlight: #ffd787;
  --vanta-midtone: #ff9ee2;
  --vanta-lowlight: #eebcff;
  --vanta-base: #ffebcd;

  /* Global colors */
  --bg-color: #fff;
  --text-color: rgb(var(--black));
  --link-color: var(--accent);
}

[data-theme="dark"] {
	color-scheme: dark;
  /* Dark mode */
  --accent: #5c7cff;
  --accent-dark: #2337ff;
	--accent-monochrome: #ffffff;
  --black: 240, 240, 245; /* for text on dark bg */
  --gray: 70, 80, 100;
  --gray-light: 50, 50, 60;
  --gray-dark: 20, 25, 35;
  --gray-gradient: rgba(var(--gray-dark), 0.5), #111;
  --box-shadow: 
    0 2px 6 rgba(var(--gray), 0.15), 
    0 8px 24px rgba(var(--gray), 0.20), 
    0 16px 32px rgba(var(--gray), 0.20%);

  /* VANTA (dark) */
  --vanta-highlight: #002e31;
  --vanta-midtone: #35007b;
  --vanta-lowlight: #730054;
  --vanta-base: #080031;

  /* Global colors */
  --bg-color: #111111;
  --text-color: rgb(var(--black));
  --link-color: #4dabf7;
}
/* #endregion */


/* --------------- FONTS --------------- */
/* #region Fonts */
  @font-face {
    font-family: 'AbrilFatface';
    src: url('/fonts/AbrilFatface-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'AtkinsonNext';
    src: url('/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
	@font-face {
    font-family: 'RubikSprayPaint';
    src: url('/fonts/RubikSprayPaint-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
	@font-face {
    font-family: 'Sigmar';
    src: url('/fonts/Sigmar-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
	@font-face {
    font-family: 'DangerFlight';
    src: url('/fonts/dangerflight.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'NerkoOne';
    src: url('/fonts/NerkoOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

	@font-face {
    font-family: 'TF2Build';
    src: url('/fonts/tf2build.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
/* #endregion */


/* --------------- CORE MISC --------------- */
/* #region Misc */
h1,h2,h3,h4,h5,h6 {margin: 0 0 0.5rem 0; color: rgb(var(--black)); line-height: 1.2;}
h1 {font-size: 3.052em;}
h2 {font-size: 2.441em;}
h3 {font-size: 1.953em;}
h4 {font-size: 1.563em;}
h5 {font-size: 1.25em;}
strong,b {font-weight: 700;} /* bold, strong */

/* links */
a { color: var(--link-color); }
a:hover { color: var(--link-color); }

/* paragrah */
p { margin-bottom: 1em; } 
.prose p {margin-bottom:2em; } /* relaxed p class */

/* form iput field text */
input { font-size: 16px; } /* single line */
textarea { width: 100%; font-size: 16px;}/* multiple line */

table { width: 100%; }
img {max-width: 100%;	height: auto;	border-radius: 8px;}

/* code text */
code {padding: 2px 5px; background-color: rgb(var(--gray-light)); border-radius: 2px;}
pre { padding: 1.5em; border-radius: 8px;}
pre > code { all: unset;}

/* quote text */
blockquote {border-left: 4px solid var(--accent);padding: 0 0 0 20px;margin: 0;font-size: 1.333em;}

hr {border: none;border-top: 1px solid rgb(var(--gray-light));}

/* screen size responsive overrides */
@media (max-width: 720px) {
	body {font-size: 18px;}
	main {padding: 1em;}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
/* #endregion */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* full viewport */
	width: 100%;
	font-family: "AtkinsonNext", sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	--text-color: rgb(var(--black));

	margin: 0;
	padding: 0;
	
	background-color: transparent; /* to show Vanta BG */
	background-size: 100% 600px;

	color: var(--text-color);
	font-size: 20px;
	line-height: 1.7;
}
.hero-text {font-size: 1em;}

main {
	width: 90%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: row; /* stack top + content vertically */
  gap: 2rem;
	align-items: flex-start; /* important so children align at top */
}

.top {
  height: 50vh;         /* 20% of main's height */
  padding: 2em;
  display: flex;
  width: 80%;
  align-self: center; /* vertically center children */
  justify-content: center; /* horizontally center children */
}

/* Bottom content: left + right columns */
.bottom {
  display: flex;
  flex: 1;               /* take remaining space */
  width: 100%;
  gap: 2rem;             /* optional spacing between columns */
}

