@import "tailwindcss";
@import "./button.css";
@import "./text.css";
@import "./root.css";


/* ------------------------------------ */
/* --------------- UTILITY CLASSES --------------- */
/* ------------------------------------ */
/* #region utility */

/* -------------------- */
/* ----- FLEXBOX -----*/
/* -------------------- */
/* #region flexbox */

@utility flx-clmn { display: flex; flex-direction: column; }
@utility flx-rw { display: flex; flex-direction: row; }

@utility flx-jstfycntr-clmn { display: flex; flex-direction: column; justify-content: center; }
@utility flx-jstfycntr-rw { display: flex; flex-direction: row; justify-content: center; }
@utility flx-algncntr-clmn { display: flex; flex-direction: column; align-items: center; }
@utility flx-algncntr-rw { display: flex; flex-direction: row; align-items: center; }

@utility flx-cntr { display: flex; justify-content: center; align-items: center; }
@utility flx-cntr-clmn { display: flex; justify-content: center; align-items: center; flex-direction: column; }
@utility flx-cntr-rw { display: flex; justify-content: center; align-items: center; flex-direction: row; }

@utility cntr { justify-content: center; align-items: center; }

/* #endregion */



@utility wh100 { width: 100%; height: 100%; }

@utility crsr-none { user-select: none; pointer-events: none; }
@utility mrgn-pddng-none { margin: 0; padding: 0; }

@utility surface-panel {
  background: var(--bg-color-tinted);
  border: var(--border); border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

/* #endregion */