@import "tailwindcss";
@import "./tokens.css";

/* --- TRANSITIONS & BASE --- */

html {
  background-color: var(--bg-color);
  transition:
    background-color var(--transition-speed) var(--transition-cubic),
    color var(--transition-speed) var(--transition-cubic);
}

* {
  transition:
    background-color var(--transition-speed) var(--transition-cubic),
    color var(--transition-speed) var(--transition-cubic),
    border-color var(--transition-speed) var(--transition-cubic),
    box-shadow var(--transition-speed) var(--transition-cubic);
}

/* --- LIGHT THEME (DEFAULT) --- */
:root {
  color-scheme: light;

  --accent: #f5a300;
  --accent-reverse: #0062f5;

  --black: 15, 18, 25;
  --gray: 96, 115, 159;

  --box-shadow:
    0 1px 4px rgba(var(--gray), 0.06), 0 2px 8px rgba(var(--gray), 0.12),
    0 4px 16px rgba(var(--gray), 0.24);

  --box-shadow-small: 0 1px 3px rgba(var(--gray), 0.06), 0 4px 12px rgba(var(--gray), 0.18);

  --bg-color: #ffffff;
  --bg-color-tinted: #f4f4f4;
  --bg-overlay: rgba(var(--black), 0.05);
  --bg-overlay-hover: rgba(var(--black), 0.08);
  --text-color: rgb(var(--black));
  --link-color: var(--accent);

  /* VANTA */
  --vanta-highlight: #ffd787;
  --vanta-midtone: #ff9ee2;
  --vanta-lowlight: #eebcff;
  --vanta-base: #ffebcd;
  --wallpaper: #ffe9cd;

  /* Semantic Tag Colors */
  --tag-green: #2ecc71;
  --tag-purple: #9b59b6;
  --tag-red: #e74c3c;
}

[data-theme="dark"] {
  color-scheme: dark;

  --accent: #0062f5;
  --accent-reverse: #f5a300;
  --black: 240, 240, 245;
  --gray: 70, 80, 100;

  --box-shadow:
    0 1px 4px rgba(var(--gray), 0.06), 0 2px 8px rgba(var(--gray), 0.12),
    0 4px 16px rgba(var(--gray), 0.24);

  --box-shadow-small: 0 1px 4px rgba(var(--gray), 0.06), 0 2px 8px rgba(var(--gray), 0.12);

  --bg-color: #111111;
  --bg-color-tinted: #070707;
  --bg-overlay: rgba(var(--black), 0.08);
  --bg-overlay-hover: rgba(var(--black), 0.12);
  --text-color: rgb(var(--black));
  --link-color: #4dabf7;

  /* VANTA */
  --vanta-highlight: #006476;
  --vanta-midtone: #560296;
  --vanta-lowlight: #000000;
  --vanta-base: #00022f;
  --wallpaper: #3e006e;

  /* Semantic Tag Colors */
  --tag-green: #37eb87;
  --tag-purple: #bb8fce;
  --tag-red: #ff7675;
}
