---
import BaseLayout from '../components/layouts/BaseLayout.astro';

import SideBar from '../components/home/SideBar.astro';

import Hero from '../components/home/panels/Hero.astro';
import Contacts from '../components/home/panels/Contacts.astro';
import About from '../components/home/panels/About.astro';
import Projects from '../components/home/projects/Projects.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<BaseLayout  title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <SideBar />
  <div class="panel-parent">
    <Hero />
    <Projects />
    <About />
    <Contacts />
  </div>
</BaseLayout>
<style is:global>
  .panel-parent {
    width: calc(100% - var(--sidebar-width));
  }

  .panel {
    height: var(--panel-height); width: 100%;
    margin-top: var(--header-height);
  }

  @media (hover: none) and (pointer: coarse) {
    .panel-parent {
      width: 100%;
    }
  }

  @media (max-width: 48rem), (max-height: 48rem) {
    .panel-parent {
      width: 100%;
    }
  }
</style>
