---
import ProjectShowcase from '../components/ProjectShowcase.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PanelScroll from '../components/PanelScroll.astro';
import SideBar from '../components/SideBar.astro';
import HeroBGText from '../components/HeroBGText.astro';
import '../styles/index-styles.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<BaseLayout  title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <i class="panel-arrow nav-arrow-button fa-solid fa-angle-up"></i>
  <i class="panel-arrow nav-arrow-button fa-solid fa-angle-down"></i>
  <SideBar />
  <div class="panel-parent">
    <div class="panel hero-panel">
      <HeroBGText />
    </div>
    <div class="panel projects-panel">
        <div class="left"><ProjectShowcase/></div>
        <div class="right"><ProjectDetails/></div>
    </div>
    <div class="panel about-panel"></div>
    <div class="panel contacts-panel">
      <div id="matter-container"></div>
    </div>
  </div>
  <PanelScroll/>
</BaseLayout>
