---
import ProjectShowcase from '../components/ProjectShowcase.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PanelScroll from '../components/PanelScroll.astro';
import DarkMode from '../components/DarkMode.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<BaseLayout  title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="home">
		<div class="sidebar">
			<DarkMode />
			<div class="nav">
				<div class="nav-section hero-link" data-index="0">I'm Lucas</div>
				<div class="nav-circle" data-index="1"></div>
				<div class="nav-section projects-link" data-index="2">Projects</div>
				<div class="nav-circle" data-index="3"></div>
				<div class="nav-section about-link" data-index="4">About</div>
				<div class="nav-circle" data-index="5"></div>
				<div class="nav-section contacts-link" data-index="6">Contacts</div>
			</div>
		</div>
		<div class="panel-parent">
			<div class="panel hero-panel"></div>
			<div class="panel projects-panel">
				<main>
					<div class="left"><ProjectShowcase/></div>
					<div class="right"><ProjectDetails/></div>
				</main>
			</div>
			<div class="panel about-panel"></div>
			<div class="panel contacts-panel"></div>
		</div>
	</div>
	<PanelScroll/>
</BaseLayout>
<style>
	.panel-parent {width: 80%;}
	.panel {height: 100vh;width: 100%;}
	.home {width: 100%;position: relative;}
	.hero-link{font-size: 120% ;font-weight: bold;}
	.sidebar {
		height: 100vh; width: 20%; /* size */
		position:fixed; /* position */
		right:0; top:0;
		display: flex; /* child alignment */
  	flex-direction: column;
		align-items: center; justify-content: center;
	}
	.nav {
		height: 100vh; /* size */
		padding: 2rem; /* child alignment */
		gap: 1rem;
		align-items: center; justify-content: center;
		display: flex; flex-direction: column;
		
	}
	.nav-section {
		display: flex; flex-direction: column;
		gap: 1rem; /* space between items */
		user-select: none; cursor: pointer; /* no I-beam, retain pointer */
	}
	.nav-circle {
		width: 10px; height: 10px;
		background: rgb(var(--black));
		border-radius: 50%;
		user-select: none; /* no I-beam */
	}
</style>
