---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import VantaFogBG from '../components/VantaFogBG.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<html lang="en" >
  <head>
    <script src="https://kit.fontawesome.com/575b9c1578.js" crossorigin="anonymous"></script>
    <BaseHead title={title} description={description} />
  </head>
  <body>
		<VantaFogBG />
    <Header />
    <slot />
    <Footer />
  </body>
</html>